.container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

body {
    /* display: flex; */
    padding: 0;
    margin: 0;
    background-color: #151b29;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.4);
    /* border-right : black; */
}

.grid div {
    width: 20px;
    height: 20px;
}

/* .tetromino {
    background-color: blue;
} */

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.4);
}

.mini-grid div {
    height: 20px;
    width: 20px;
}

.description{
    /* margin-right: 80px; */
    margin-top: 80px;
}

h3 {
    color: white;
    /* transform: translate(250px, 210px); */
}

#start-button {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 7px 5px;
    font-size: 1em;
    transition: all 0.25s;
    /* transform: translate(250px, 210px); */
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}
